.main-container {
    display: grid;
    grid-template-areas:
        'nav main side';
    grid-template-columns: 3fr 8fr 5fr 3fr;
    grid-template-rows: 1fr 5fr 3fr 2fr 1fr;
}

.horizontal-list {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
}

.sitename {
    grid-area: nav;
    grid-row-start: 1;
}

.shopping-cart {
    grid-column-start: 4;
    grid-row-start: 1;
}

.item {
    grid-area: main;
    grid-row-start: 2;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.buy-button {
    grid-area: side;
}

.item-description {
    grid-column-start: 1;
}
